extends layout

block content
	div.main
		include header
		div.text
			h2 Contact & feedback
			p
				|The fastest way to reach me is likely by email: 
				a(href="mailto:tom.chambers@gmail.com") tom.chambers@gmail.com
			p.
				but you can also call me on 07590 574540
			p.
				I am on twitter @tomchambers
			p.
				Try github if you have any issues
			p.
				If you've recently interacted with me and would like to provide anonymous feedback, you can do so using this form.
