extends layout

block content
	div.main
		include header
	div.text
		h2 Contact & feedback
		h3
			|The fastest way to reach me is 
			a(href="mailto:tom.chambers@gmail.com") by email
		h3
			|You can call me on 07590 574540
		h3
			|My github profile is 
			a(href="http://github.com/tomchambers2/") tomchambers2
			|. If you're interested in the code for something I've made and it's not linked from the projects page, send me an email.
	canvas(id="envelopes" resize keepalive="true")
	img(src='img/gmail.png' id='gmail-icon')
