h1.headline Tom D. Chambers
nav
  ul
    li
      a(href="/").
        Home
    li
      a(href="/projects").
        Selected projects
    li
      a(href="/contact").
        Contact
  ul
    li
      a(href="http://fiction.tomchambers.me" target="_blank").
        Fiction
    li
      a(href="http://essays.tomchambers.me" target="_blank").
        Essays
    li
      a(href="http://tech-blog.tomchambers.me" target="_blank").
        Tech blog        
    li
      a(href="http://collages.tomchambers.me" target="_blank").
        Collages        
    li
      a(href="https://www.youtube.com/user/tomchambers/" target="_blank").
        Youtube        
    li
      a(href="http://scrapbook.tomchambers.me" target="_blank").
        Scrapbook