h1.headline Tom D. Chambers
nav
  ul
    li
      a(href="/#more").
        Home /
    li
      a(href="/portfolio").
        Web portfolio /
    li
      a(href="/projects").
        Art projects /
    li
      a(href="http://tech-blog.tomchambers.me").
        Tech blog /
    li
      a(href="http://writing.tomchambers.me").
        Writing /
    li
      a(href="http://justtomchambers.tumblr.com").
        Art blog /
    li
      a(href="/contact").
        Contact & feedback