h1.headline Tom D. Chambers
nav
  ul
    li
      a(href="./").
        About me
    li
      a(href="./portfolio").
        Portfolio
    li
      a(href="http://justtomchambers.tumblr.com").
        Art blog
    li
      a(href="./contact").
        Contact & feedback