h1.headline Tom D. Chambers
nav
  ul
    li
      a(href="/#more").
        Home
    li
      a(href="/projects").
        Projects
    li
      a(href="/contact").
        Contact
  ul
    li
      a(href="???").
        Fiction
    li
      a(href="http://writing.tomchambers.me" target="_blank").
        Essays
    li
      a(href="http://tech-blog.tomchambers.me" target="_blank").
        Tech blog        
    li
      a(href="http://collages.tomchambers.me").
        Collages        
    li
      a(href="https://www.youtube.com/user/tomchambers/" target="_blank").
        Youtube        
    li
      a(href="http://justtomchambers.tumblr.com" target="_blank").
        Scrapbook