extends layout

block content
	div.loading-video

	video(loop autoplay muted class='background-video' poster='')
		source(src="/img/bg.mov")
	div.page-one
		div.main
			include header
			div.slogan Front end developer &amp; designer
			a(href="#more" class="more desktop-only")
				div.more <i class="fa fa-chevron-circle-down"></i><br>Read more<br>
	div.page-two(id="more")
		h2 All about Tom Chambers
		h3 The future
		p.
			I’m currently looking for a front end web development job in London. I have experience with javascript MVC frameworks including angular and knockout, as well as jquery and other JS libraries. I’m also familiar with HTML5 canvas, the web audio API. I have a reasonable competency in photoshop. In the past I’ve done web design and UX. My experience gives me the ability to understand the whole process of web development from understanding stakeholder needs to server configuration to UX tweaks.
		h3 University
		p.
			I studied politics at Goldsmiths, University of London and graduated last summer with a first class honours. I had the privilege of learning from the best and most radical teachers including Saul Newman, David Martin and Bernadette Buckley. My education informs everything I do, allowing me to take a step back and deconstruct whats in front of me to find something new.

		h3 Work
		p.
			After graduation I worked for the health startup Network Locum for a few months. While there I performed duties including front end development, design, UX, and copy and content writing.

		p.
			I left Network Locum to join the 2013/14 cohort of Entrepreneur First. While there I partnered with Michael Detmold to build Spruce, a simple to use mood improvement tool based on cognitive behavioural therapy techniques. We interviewed scores of people about their experiences with emotional difficulty and created a genuinely useful product that is still in use today with a user base of 500.

		p.
			In the end, our team didn’t work out, but I learned a huge amount about the complexities of business and how to compartmentalise the differing aspects and still get things done. I also found out that I’d rather be focused on perfecting a single aspect of the product within a larger business rather than having to juggle everything at once.

		p.
			Since departing Entrepreneur First I’ve been freelancing, working for a number of clients as well as my own personal projects which can be found in my portfolio. I have also worked periodically as a movie extra. While this has been a great period, I’m looking forward to expanding my skills by working with others more experienced than me and getting stuck into some big projects.
		p.
			As well as web development I like to write fiction and essays, some of which is available on my blog, but most is lurking as nearly-ready drafts on my hard drive. I'm interested in our changing social institutions, the development of cities, urbanism and public space. I'm a great cook too.
		
		footer
			|<a href="/portfolio">Portfolio</a> | <a href="http://justtomchambers.tumblr.com">Art blog</a> | <a href="/contact">Contact &amp; feedback</a>						