extends layout

block content
	div.main
		include header
		div.text
			h2 Freelance front-end web developer
			p.
				I am a front-end web developer living in London. I can build complex web apps using javascript MVC frameworks like backbone, angular and ember. I can also build you a standard website with a CMS.
			h2 I work with
			p
				each item in ['Javascript','HTML5/CSS3','Angular, Ember, Backbone, Knockout','node.js','Ruby on Rails','Web audio API','Canvas - paper.js, raphael, snap.svg','Websockets & WebRTC']
					li= item
			p
				|See 
				a(href="/portfolio") my portfolio
				= ' '
				|for examples of previous work.
			p.
				I generally work with clients in London, but I am happy to travel for consultations in the rest of the UK for big enough jobs, and work remotely for overseas clients. For the right company, I may be convinced to go full time.