extends layout

block content
	div.video-container
		div.loading-video
		video(loop autoplay muted class='background-video' poster='/bgvideos/poster.jpg')
			source(src='/bgvideos/bgvideo.mp4' type='video/mp4')
			source(src='/bgvideos/bgvideo2.ogv' type='video/ogg')
	div.page-one
		div.main
			include header
			div.slogan &nbsp;
			a(href="#more" class="more desktop-only")
				div.more <i class="fa fa-chevron-circle-down"></i><br>Read more<br>
	section.page-two(id="more")
		h2 Home
		p.
			I'm Tom Chambers. I am an artist and writer. I work as a web developer for <a href="http://guidesmiths.com">Guidesmiths</a> and the <a href="http://tes.co.uk">Times Educational Supplement</a>. Previously I studied politics at <a href="http://www.goldsmiths.ac.uk">Goldsmiths</a>.
		p.
			Primarily I'm interested in ideas. About the way society works and how we choose to relate to each other, either conciously or behaviour shaped by hidden rules of our minds or the whims of architects.
		p.
			The mediums I like most are the web - in its many incarnations, making apps, sharing video or photos, as interactive toys or games - writing both fiction and essays, hardware creations using prototyping tools like arduino and raspberry pi, woodwork, photography and photoshop for creating surreal worlds or hypothesising about the future state of our cities, interactive installations, food and cooking, and less tangible means of exploring ideas like social dynamics and hoaxes.
		h3 The hoax
		p.
			When I was 7 years old my uncle told me he kept a tiger in his downstairs toilet and thus could never open the door for fear of it savaging me. I now know this to be untrue. The discovery that you could just make stuff up however is an ephiphany that has never left me. In 1957 BBC's Panorama aired a segment about the Swiss spaghetti harvest showing the ripe spaghetti being plucked from the trees. They received hundreds of enquiries from people asking how they could grow their own spaghetti bush.
		p.
			On one level it's just fun. But it also raises questions about truth and authenticity. Now that so many people have access to tools of reproduction, how can we trust what we see and use? What mechanisms, i.e. bitcoin, do we have for proving the authorship of something? If all we hear is a multitude of perspectives, should any one perspective be given priority over the others and labelled as truth?
		h3 More to come
		footer
			<a href="/projects">Projects</a> | <a href="http://writing.tomchambers.me">Writing</a> | <a href="http://tech-blog.tomchambers.me">Tech blog</a> | <a href="http://justtomchambers.tumblr.com">Art blog</a> | <a href="/portfolio">Web portfolio</a> | <a href="/contact">Contact &amp; feedback</a>				

	//-
		section.quotes
			div.quote.melissa
				article.body.
					"We call on Tom often to help us out with design and HTML, he is reliable and a very fast worker. That's why we ask him back time and time again"
				aside.title
					span.name.
						<a target="_blank" href="https://twitter.com/meliss_morris">Melissa Morris</a><br>
						<small>CEO, Network Locum</small>
					a(href='https://twitter.com/meliss_morris' target='_blank')
						div.person.melissa

			div.quote.matt
				article.body.
					"Tom joined the second Entrepreneur First cohort - a highly selective investment programme for the most talented and innovative graduates. He impressed us from the beginning for his imaginative approach, his drive and his commitment to solving real-world problems. He demonstrated an ability to work hard, deliver products under pressure and respond effectively to feedback. It was great working with Tom and we'd always be delighted to do so again."
				aside.title
					span.name.
						<a href="https://twitter.com/matthewclifford" target="_blank">Matthew Clifford</a><br>
						<small>CEO, Entrepreneur First</small>
					a(href='https://twitter.com/matthewclifford' target='_blank')
						div.person.matt
					