extends layout

block content
	div.video-container
		div.loading-video
		video(loop autoplay muted class='background-video' poster='/bgvideos/poster.jpg')
			source(src='/bgvideos/bgvideo.mp4' type='video/mp4')
			source(src='/bgvideos/bgvideo2.ogv' type='video/ogg')
	div.page-one
		div.main
			include header
			div.slogan artist/creative technologist
			a(href="#more" class="more desktop-only")
				div.more <i class="fa fa-chevron-circle-down"></i><br>Read more<br>
	section.page-two(id="more")
		h3 Creative technologist

		p.
			If you're interested in my services as a <b>creative technologist</b> these are the things I can do for you: build mobile apps, create websites, build interactive interfaces and provide custom hardware for installations. My skills are in iOS/Swift, javascript, HTML, CSS, angular, react, C++, openFrameworks, C, Raspberry Pi/arduino and other such things.

		h3 Full stack web developer

		p|I also do <b>freelance and contract web development</b>, specialising in front end development, node.js on the backend and microservices. I’m happy to work in plenty of other languages, the more esoteric the better. You might want to take a look at my <a href="/portfolio">web portfolio</a> or my <a href="https://uk.linkedin.com/in/tom-chambers-6b5199a4">LinkedIn profile</a>.

		h3 Artist

		p.
			As an artist I’m interested in questioning the way we do things. Our work lives, the way we interact and the structures that guide our thought. I like creating immersive experiences that compel people to consider these questions in an intuitive way.

		footer
			<a href="/projects">Projects</a> | <a href="http://writing.tomchambers.me">Writing</a> | <a href="http://tech-blog.tomchambers.me">Tech blog</a> | <a href="http://justtomchambers.tumblr.com">Art blog</a> | <a href="/portfolio">Web portfolio</a> | <a href="/contact">Contact &amp; feedback</a>				

	section.quotes
		div.quote.melissa
			article.body.
				"We call on Tom often to help us out... he is reliable and a very fast worker. That's why we ask him back time and time again"
			aside.title
				span.name.
					<a target="_blank" href="https://twitter.com/meliss_morris">Melissa Morris</a><br>
					<small>CEO, Network Locum</small>
				a(href='https://twitter.com/meliss_morris' target='_blank')
					div.person.melissa

		div.quote.matt
			article.body.
				"Tom joined the second Entrepreneur First cohort - a highly selective investment programme for the most talented and innovative graduates. He impressed us from the beginning for his imaginative approach, his drive and his commitment to solving real-world problems. He demonstrated an ability to work hard, deliver products under pressure and respond effectively to feedback. It was great working with Tom and we'd always be delighted to do so again."
			aside.title
				span.name.
					<a href="https://twitter.com/matthewclifford" target="_blank">Matthew Clifford</a><br>
					<small>CEO, Entrepreneur First</small>
				a(href='https://twitter.com/matthewclifford' target='_blank')
					div.person.matt
					