extends layout

block content
	div.video-container
		div.loading-video
		video(loop autoplay muted class='background-video' poster='/bgvideos/poster.jpg')
			source(src='/bgvideos/bgvideo.mp4' type='video/mp4')
			source(src='/bgvideos/bgvideo2.ogv' type='video/ogg')
	div.page-one
		div.main
			include header
			div.slogan artist/creative technologist
			a(href="#more" class="more desktop-only")
				div.more <i class="fa fa-chevron-circle-down"></i><br>Read more<br>
	section.page-two(id="more")
		h2 Home

		p.
			I'm Tom Chambers, an artist, creative technologist and full stack web developer. I'm 26 years old and I currently live in Peckham, London. I write code, I make things and think long hard thoughts about the way we are.

		p.
			If you're interested in my services as a <b>creative technologist</b> these are the things I can do for you: build mobile apps, create websites, build interactive interfaces and provide custom hardware for installations. My skills are in iOS/Swift, javascript, HTML, CSS, angular, react, C++, openFrameworks, C, Raspberry Pi/arduino and other such things.

		p|I also do <b>freelance and contract web development</b>, specialising in front end development, node.js on the backend and microservices. I’m happy to work in plenty of other languages, the more esoteric the better. You might want to take a look at my <a href="/portfolio">web portfolio</a> or my <a href="https://uk.linkedin.com/in/tom-chambers-6b5199a4">LinkedIn profile</a>.

		p.
			As an artist my primary interest is in questioning the underlying paradigms of our lives, especially the ones that define our social interactions. I like to create strange situations, like an overheard conversation that doesn’t sound quite right or a scene in the street that you just can’t explain.

		p|<a href="http://www.imdb.com/title/tt0119174/" target="_blank">The Game (1997)</a> has been a big influence on me. Michael Douglas plays a billionaire businessman consumed by the approach of his 48th birthday, the age at which his father killed himself. He signs himself up to a ‘game’, a thoroughly immersive experience which begins to take over his life, eventually leading to his redemption. I’d like to recreate these scenarios, taking people through a personally designed journey of events and experiences to bring about a change in character.

		p.
			By awareness of the invisible lines that guide us through life, we can fault find and iterate to discover better means of living. We do this for the visible parts of our life, our economy, our transport systems, but for some reason we leave our mental infrastructure almost entirely to the tide.

		footer
			<a href="/projects">Projects</a> | <a href="http://writing.tomchambers.me">Writing</a> | <a href="http://tech-blog.tomchambers.me">Tech blog</a> | <a href="http://justtomchambers.tumblr.com">Art blog</a> | <a href="/portfolio">Web portfolio</a> | <a href="/contact">Contact &amp; feedback</a>				

	section.quotes
		div.quote.melissa
			article.body.
				"We call on Tom often to help us out... he is reliable and a very fast worker. That's why we ask him back time and time again"
			aside.title
				span.name.
					<a target="_blank" href="https://twitter.com/meliss_morris">Melissa Morris</a><br>
					<small>CEO, Network Locum</small>
				a(href='https://twitter.com/meliss_morris' target='_blank')
					div.person.melissa

		div.quote.matt
			article.body.
				"Tom joined the second Entrepreneur First cohort - a highly selective investment programme for the most talented and innovative graduates. He impressed us from the beginning for his imaginative approach, his drive and his commitment to solving real-world problems. He demonstrated an ability to work hard, deliver products under pressure and respond effectively to feedback. It was great working with Tom and we'd always be delighted to do so again."
			aside.title
				span.name.
					<a href="https://twitter.com/matthewclifford" target="_blank">Matthew Clifford</a><br>
					<small>CEO, Entrepreneur First</small>
				a(href='https://twitter.com/matthewclifford' target='_blank')
					div.person.matt
					