extends layout

block content
	div.loading-video

	video(loop autoplay muted class='background-video' poster='')
		source(src="/img/bg.mov")
	div.page-one
		div.main
			include header
			div.slogan Front end developer &amp; designer
			a(href="#more" class="more desktop-only")
				div.more <i class="fa fa-chevron-circle-down"></i><br>Read more<br>
	div.page-two(id="more")
		h2 All about Tom Chambers
		h3 The future
		p.
			I’m currently looking for a front end web development job in London. I have experience with javascript MVC frameworks including angular and knockout, as well as jquery and other JS libraries. I’m also familiar with node.js (this site was built with express), responsive design, HTML5 canvas and the web audio API. I have a reasonable competency in photoshop. In the past I’ve done web design and UX. My experience gives me the ability to understand the whole process of web development from understanding stakeholder needs to server configuration to tweaking pixels.
		h3 Work
		p.
			After my graduation I worked for the wonderful Melissa Morris at health startup <a href="https://networklocum.com/">Network Locum</a> for a few months. While there I performed duties including front end development, UX design and copywriting.

		p.
			I left Network Locum to join the 2013/14 cohort of <a href="http://joinef.com">Entrepreneur First</a> led by Matt Clifford and Alice Bentinck, both of whom I gained an immense amount of wisdom from.
		p.
			While there I partnered with <a href="https://twitter.com/himerzi">Michael Detmold</a> to build <a href="http://spruceapp.net">Spruce</a>, a simple to use mood improvement tool based on cognitive behavioural therapy techniques. We interviewed scores of people about their experiences with emotional difficulty and created a genuinely useful product that is still in use today with a user base of 500.

		p.
			In the end, our team didn’t work out, but I learned a huge amount about the complexities of business and how to compartmentalise the differing aspects and still get things done. I also found out that I’d rather be focused on perfecting a single aspect of the product within a larger business rather than having to juggle everything at once.

		p.
			Since Entrepreneur First I’ve been freelancing, working for a number of clients as well as my own personal projects which can be found in <a href="/portfolio">my portfolio</a>. I have also worked periodically <a href="/img/tomchambersin24liveanotherday.jpg">as a movie extra</a>. While this has been a great period, I’m looking forward to expanding my skills by working with others more experienced than me and getting stuck into some big projects.		
		h3 University
		p.
			I studied politics at <a href="http://www.gold.ac.uk/">Goldsmiths</a>, University of London and graduated last summer with a first class honours. I had the privilege of learning from the best and most radical teachers including <a href="http://en.wikipedia.org/wiki/Saul_Newman">Saul Newman</a>, <a href="http://www.gold.ac.uk/politics/staff/davidmartin/">David Martin</a> and <a href="https://www.youtube.com/watch?v=xr4PTj7xZvc">Bernadette Buckley</a>.
		p.
			My education informs everything I do, allowing me to take a step back and deconstruct what's in front of me to find something new. While there, I served as photo editor then comment editor of the <a href="http://london-student.net/">London Student</a> newspaper which had a readership of 30,000.
		h3 The past
		p.
			I got into web development as a teenager. The abominable <a href="http://wierdo.8k.com/">first website</a> I made when 12 years old is unaccountably still online. In 2006 I built <a href="https://web.archive.org/web/20070201211623/http://theaudiobubble.com/">audiobubble</a>, one of the world's first DRM-free music stores. I feel fortunate to have grown up in an age where the tools to create wonderful things online are freely available.
		h3 And finally
		p.
			As well as web development I like to write fiction and essays, some of which is available on <a href="http://justtomchambers.tumblr.com">my blog</a>, but most is lurking as nearly-ready drafts on my hard drive. I'm interested in our changing social institutions, the development of cities, urbanism and public space. I'm a great cook too.
		
		footer
			|<a href="/portfolio">Portfolio</a> | <a href="http://justtomchambers.tumblr.com">Art blog</a> | <a href="/contact">Contact &amp; feedback</a>						