extends layout

block content
	video(loop autoplay muted class='background-video' poster='')
		source(src="/img/bg.mov")
	div.page-one
		div.main
			include header
			div.slogan Front end developer &amp; designer
			a(href="#more" class="more desktop-only")
				div.more <i class="fa fa-chevron-circle-down"></i><br>Read more<br>
	div.page-two(id="more")
		h2 All about Tom Chambers
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.		
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.		
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.			
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.		
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.		
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.		
		p.
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.		
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.		
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut modi architecto, dolore perspiciatis expedita neque quae, labore aut, fuga harum aliquid libero explicabo reprehenderit voluptatibus delectus? Facere tempore ut enim.
		footer
			|<a href="/portfolio">Portfolio</a> | <a href="http://justtomchambers.tumblr.com">Art blog</a> | <a href="/contact">Contact &amp; feedback</a>						