extends layout

block content
	div.video-container
		div.loading-video
		video(loop autoplay muted class='background-video' poster='/bgvideos/poster.jpg')
			source(src='/bgvideos/bgvideo.mp4' type='video/mp4')
			source(src='/bgvideos/bgvideo2.ogv' type='video/ogg')
	div.page-one
		div.main
			include header
			div.slogan creative technologist
			a(href="#more" class="more desktop-only")
				div.more <i class="fa fa-chevron-circle-down"></i><br>Read more<br>
	section.page-two(id="more")
		h3 Creative technologist

		p|I work with <a href="http://artech.cc/" target="_blank">Theo Papatheodorou</a> as a creative technologist. Our studio is called <a href="http://randomquark.com" target="_blank">random quark</a> and you can see the <a href="http://randomquark.com/#work" target="_blank">work we've done together</a> on that site. We build large scale projections with projection mapping and generative art algorithms. We also create interactive installations with a variety of technologies including openFrameworks, C++, openCV, physical computing, Kinect and more.

		h3 Full stack web developer

		p|I also do <b>freelance and contract web development</b>, specialising in front end development, node.js on the backend and microservices. I’m happy to work in plenty of other languages, the more esoteric the better. You might want to take a look at my <a href="/projects">web projects</a> or my <a href="https://uk.linkedin.com/in/tom-chambers-6b5199a4">LinkedIn profile</a>.

		h3 Artist

		p.
			As an artist I’m interested in questioning the way we do things. Our work lives, the way we interact and the structures that guide our thought. I like creating immersive experiences that compel people to consider these questions in an intuitive way.
					
