body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background: url(../img/tomchambers.JPG) right no-repeat, #E6C7B0;
	font-family: Josefin Sans;
	font-size: 1.4em;
	color: #fff;
	margin: 0;
}

body.portfolio {
	background: url(../img/congruent_pentagon.png);
}

.main {
	width: 45%;
	padding: 5%;
	padding-bottom: 0;
}

h1 {
	display: inline-block;
	width: 100%;
	font-size: 3.5em;
	margin: 0;
	padding: 0;
	font-family: 'Sorts Mill Goudy', serif;
	font-style: italic;
	font-weight: 100;
}
h3 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
	padding: 0;
}

nav ul {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	padding: 8px 0px;
	text-align: center;
}
nav li {
	display: inline;
	list-style: none;
	padding: 0 20px;
}
nav li:hover, nav li:focus {
	//needs something here
}
nav ul:after {
	content: "";
	display: block;
	clear: both;
}
nav a {
	text-decoration: none;
}

.text {
	padding: 2%;
}
li {
	padding: 4px 0px;
}

a {
  color: #fff;
}

/* portfolio page */
div.portfolio {
	padding: 0 6%;
}
.portfolio-container {
	margin-top: 50px;
}
div.portfolio .box {
	width: 355px;
	height: 200px;
	//float: left;
	//margin: 30px;
	margin-bottom: 50px;
}
div.portfolio .box {
	cursor: pointer;
}
div.portfolio .box-content {
	width: 355px;
	height: 200px;
	position: relative;
	background: #fff;
	color: #000;
}
div.portfolio .box-content.selected, div.portfolio .box.selected {
	width: 760px;
	height: 450px;
}
div.portfolio .box-content {
	transition-duration: 0.4s;
}
.box-content .title {
	bottom: 0;
	position: absolute;
	background: rgba(0,0,0,0.4);
	width: calc(100% - 17px);
	padding: 8.5px;
	color: #fff;	

	transition: 0.4s;
	opacity: 1;
}
.box-content.selected .title {
	opacity: 0;
}
.box-content img {
	width: 355px;
	height: 200px;
	transition: 0.4s;
}
.box-content.selected img {
	float: left;
	margin: 25px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.box-content .extended-desc {
	display: none;
	padding: 25px;
	text-align: justify;
}
.box-content.selected .extended-desc {
	display: block;
}

button.filter-select {
	font-family: Josefin Sans;
	font-size: 0.8em;
	background: none;
	border: none;
	border: 2px solid transparent;
	color: #fff;
	padding: 5px;
	margin: 5px;
	cursor: pointer;

	transition: 0.4s;
}
button.filter-select.selected {
	background: none;
	border-bottom: 2px solid white;
}
button.filter-select:hover, button.filter-select:focus {
	outline: none;
	background: rgba(255,255,255,0.6);
}

.base {
	padding-top: 15%;
	height: 10%;
	position: relative;
	bottom: 0;
	clear: both;
}
.triangle {
	position: absolute;
	width: 0px;
	bottom: 0;
}
.triangle.one {
	border-bottom: 100px solid #18063A;
	border-right: 500px solid transparent;
	border-left: 0px solid transparent;
	bottom: 0;
}
.triangle.five {
	left: 10%;
	border-bottom: 70px solid #553D00;
	border-right: 350px solid transparent;
	border-left: 300px solid transparent;
	bottom: 0;
}
.triangle.two {
	left: 50%;
	border-bottom: 80px solid #554A00;
	border-left: 200px solid transparent;
	border-right: 400px solid transparent;
}
.triangle.three {
	left: 30%;
	border-bottom: 80px solid #003D1B;
	border-left: 300px solid transparent;
	border-right: 100px solid transparent;
}
.triangle.four {
	right: 0;
	border-bottom: 120px solid #802B15;
	border-left: 300px solid transparent;
}